body{
    font: normal 12pt Arial;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.container {
    width: 600px;
    height: 500px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

footer{
    font: normal 10pt Arial;
    color: white;
    font-style: italic;
}